/* loading */
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}
/* Make the image fully responsive */

.carousel-inner{
    margin: 0 auto;
    width:800px;
    height: 480px;
    border: black 1px solid;
    border-radius: 50px;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0;
    transform: translate(0,50px);
    transition: 1s;
}
.carousel-inner.muncul{
  opacity: 1;
  transform: translate(0,0);
}
.span{
  opacity: 0;
  transform: translate(100px,0);
  transition: 1s;
}
.span.muncul{
  opacity: 1;
  transform: translate(0,0);
}
.study{
  opacity: 0;
  transform: translate(0,-50px);
  transition: 1s;
}
.study.muncul{
  opacity: 1;
  transform: translate(0,0);
}
.container{
  text-align: center;
  margin-top: 20px;
}
div button#submit.btn{
  position: relative;
  margin: 0 50px;
  margin-top: -100px;
}
div a.carousel-control-prev{
  right: 90;
}
.timer{
  margin-left: 1000px;
  border-radius: 10px;
}
.carousel-control-next,.carousel-control-prev{
  margin: 500px;
  margin-left: 250px;
  margin-right: 250px;
  width: 100px;
  height: 50px;
  background-color: rgb(0, 0, 0) !important;
  opacity: 0;
  transform: rotate(90deg);
  transition: 2s;
}
.carousel-control-next.muncul,.carousel-control-prev.muncul{
  opacity: 1;
  transform: rotate(0);
}


/* java script */
/* number */
h4{
  padding: 30px 500px 0 20px;;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

h4::after {
  content: '';
  display: block;
  border-bottom: 3px solid black;
  width: 21%;
  margin-left: 130px;
  padding-top: 10px;
}
/* soal */
p{
  font-size: 20px;
}
/* wadah label/ inputan */
form {
  padding: 50px;
}
/* label */
label{
  margin: 10px;
}

/* akhir java scrip */

body{
    background-image: url('img/back.gif');
    background-repeat: no-repeat;
    background-size: cover;
}
#container{
    color: white;
    margin: 50px auto;
    width:400px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    border-radius: 50px;
}

#jumlah1 #benar{
    opacity: 1;
    margin-top: -10px ;
    padding: 0 50px;
    float: left;
}
#jumlah1 #score{
    opacity: 1;
    margin-top: -10px ;
    float: right;
    padding: 0 50px;
}
#jumlah2 #salah{
    opacity: 1;
    padding:10px 50px;
    float: left;
}
#jumlah2 #score1{
    opacity: 1;
    float: right;
    padding:10px 50px;
}
